<!DOCTYPE html>
<html>

<head>
	<%= stylesheet_link_tag "introduction", :media => "all" %>

    <style>
       div 
       {
         float:left;
       }

    </style>
</head>
<body>
	<div>
<h1> My Website Projects!! </h1>
<img src="https://sphotos-a-iad.xx.fbcdn.net/hphotos-frc3/292550_4055422510118_139875104_n.jpg" alt="My college graduation picture" height="500" width="600">

<img src="http://coachlarisa.com/wp-content/uploads/2012/12/Albert-Einstein-quotes-About-Life.jpg" height="500" width="500">
    </div>

<div>
<h2> Brief introcution of myself </h2>
<p>	Name:Gesang Lamu </p> 
<p> Education:Bachelor's degree from Duke University </p>
<p> <a href ="https://www.facebook.com/gesang.lamu"> My Facebook Page </a> </p>
<p> <a href ="https://twitter.com/rooftop00"> My twitter </a> </p>  
<br>
<h2> My Favorites </h2>
<p> My favorite color: aqua & blue </p>
<p> My favorite food : spicy food </p>
<p> My favorite thing to do : seeping afternoon tea in nice weather with my favorite people</p>
<p> My favorite sports: running by the lake </p>

</div>

<div>
<h2> List of my websites </h2>

<p> <a href ="http://powerful-refuge-8880.herokuapp.com"> About myself </a> </p>
<p> <a href ="http://powerful-refuge-8880.herokuapp.com/countdown"> My Timer </a> </p>

<p> <a href ="http://powerful-refuge-8880.herokuapp.com/fortunecookies"> My Fortune Cookies </a> </p>

<p> <a href ="http://powerful-refuge-8880.herokuapp.com/weatherapp"> My Weather App </a> </p>

<p> <a href ="http://powerful-refuge-8880.herokuapp.com/jewllery"> My Jewllery Website </a> </p>

<p> <a href = "http://gesarlhamo-bitstarter-mooc.herokuapp.com/"> This website is made for a course from coursera taught by Stanford </a> </p>

</div>


<body>
</html>




