<!DOCTYPE html>
<html>

<head>
<link rel="stylesheet" type="test/css" href="introduction.css"

</head>
<body>
<h1> Hello everyone! I decided to make 100 websites in 100 days! one each day!</h1>
<img src="https://sphotos-a-iad.xx.fbcdn.net/hphotos-frc3/292550_4055422510118_139875104_n.jpg" alt="My college graduation picture" height="500" width="500">
<div>
<strong> Little introcution of myself </strong>
<p>	Name:Gesang Lamu </p> 
<p> Education:Bachelor's degree from Duke University </p>
<p> <a href ="https://www.facebook.com/gesang.lamu"> My Facebook Page </a> </p>
<p> <a href ="https://twitter.com/rooftop00"> My twitter </a> </p>  

<strong> My Favorites </strong>
<p> My favorite color: aqua & blue </p>
<p> My favorite food : spicy food </p>
<p> My favorite thing to do : seeping afternoon tea in nice weather with my favorite people</p>
<p> My favorite sports: running by the lake </p>

</div>

<h2> List of my websites </h2>



<body>
</html>




