<!DOCTYPE html>
<html>

<head>

  <title> Gesang's Websites</title>


  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  
  <%= stylesheet_link_tag "reset", :media => "all" %>
  
  <link href='http://fonts.googleapis.com/css?family=Audiowide|Quicksand:300,400,700|Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'/>

	<%= stylesheet_link_tag "introduction", :media => "all" %>
  
    
      <script src="assets/jquery.min.js"></script>


  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
   

    <style>
       div 
       {
         float:left;
         margin:50;
         clear:both;
         

       }

       img{
        width:50%;
        height:50%;
        

       }

       #intro{
        margin:20px;
      }

       #main{
        margin:20px;
       }

       body{
        font-size:20px;
       }

    </style>
</head>
<body>
 
  <h1>Gesang Lamu</h1>
    <div id="mypic">
      <figure>
  <img src="https://sphotos-a-iad.xx.fbcdn.net/hphotos-frc3/292550_4055422510118_139875104_n.jpg" alt="My college graduation picture"> 
  </figure>
    </div>


<div id="intro">
    <p> Education:Bachelor's degree from Duke University </p>
  </div>

<div id="main">


<!-- AddThis Follow BEGIN -->
<p>Follow Me</p>
  <div class="addthis_toolbox addthis_32x32_style addthis_vertical_style">
<a class="addthis_button_facebook_follow" addthis:userid="gesang.lamu"></a>
<a class="addthis_button_twitter_follow" addthis:userid="rooftop00"></a>

<p><a href="https://github.com/gesarlhamo"> My Github </a></p>

  </div>

<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5202c7c57ed81350"></script>
<!-- AddThis Follow END -->




  <div>

    <br>
<h2> My websites </h2>
<br>

<p> <a href = "file://localhost/Users/gesanglamu/Dropbox/Public/cardMatchingGame/index.html"> Card Game(in progress) </a> </p>

<p> <a href ="http://chicagofun.herokuapp.com/"> Chicago Fun </a> </p>

<p> <a href ="http://myhundredwebsites.herokuapp.com/jewllery"> Jewellery Website </a> </p>

<p> <a href ="http://myhundredwebsites.herokuapp.com/colors"> Play with colors</a> </p>

<p> <a href ="http://myhundredwebsites.herokuapp.com/weatherapp"> Weather App </a> </p

<p> <a href ="http://myhundredwebsites.herokuapp.com/fortunecookies"> Fortune Cookies </a> </p>

<p> <a href = "http://gesarlhamo-bitstarter-mooc.herokuapp.com/"> Final project for a cousera class:startup engineering </a> </p>



<p> <a href ="http://myhundredwebsites.herokuapp.com/countdown"> Timer </a> </p>




<p> <a href ="http://myhundredwebsites.herokuapp.com/shapes"> Play with Shape </a> </p>



<p> <a href ="http://crushmatchingapp.herokuapp.com/"> Crush Matching </a> </p>

<p> <a href ="http://pacific-wildwood-5531.herokuapp.com/">My Bloging App </a> </p>

  </div>
</div>




</body>
</html>




