body
{
	background-color:#c0000;

}

div
{
	align:center;
}

img
{
	float:left;
}



// Place all the styles related to the fortunecookies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
